/*General */
:root {
  --primary: white;
  --secundary: black;
  --fontSize: 14px;
}


body {
    height: 100vh;
    font-family: roboto;
    font-size: var(--fontSize);
    background-color: var(--secundary);
    padding: 2em;
    margin: 0px;
    color: var(--primary);
    overflow: scroll;
    display: flex;
    box-sizing: border-box;
        background-position: center;
            background-size: cover;
}

p {
    margin: 0px;
}

input {
    font-size: var(--fontSize);
}

/*hide scrollbar*/
::-webkit-scrollbar {
  display: none;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
  color: var(--primary);
  /* Firefox */
  opacity: 1; 
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
  color: var(--primary);
}

/* Microsoft Edge */
::-ms-input-placeholder { 
  color: var(--primary);
}

/*active*/
.input:focus {
    outline: none !important;
    border:1px solid blue;
    box-shadow: 0 0 10px blue;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.button {
    width: fit-content;
    background-color:  unset;
    color:  var(--primary);
    border: 1px solid var(--primary);
    padding: 5px 15px;
    font-weight: 900;
}


input[type="color"] {
    -webkit-appearance: none;
    border: none;
    padding: 0px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

/*home page*/

#log {
    width: 100%;
    text-align: left;
        display: flex;
    flex-direction: column;
    gap: 20px;
}

#log input {
    background-color: unset;
    border: none;
    color:  var(--primary);
    width: 100%;
}

#log section {
    display: flex;
    flex-direction: column;
}

input#save {
    width: fit-content;
        padding: 10px 20px;
    align-self: center;
}

label {
    margin-bottom: 20px;
}

/*Settings page*/
#slider-icon {
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 10px;
}

svg {
    fill: var(--primary);
    width: 30px;
    height: 30px;
    align-self: center;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#settings form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#settings section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*End settings page*/


