/*General */
:root {
  --primary: white;
  --secundary: black;
}


body {
    height: 85vh;
    font-family: roboto;
    font-size: 18px;
    background-color: var(--secundary);
    padding: 2em;
    margin: 0px;
    color: var(--primary);
    overflow: scroll;
    display: flex;
    box-sizing: border-box;
}

/*hide scrollbar*/
::-webkit-scrollbar {
  display: none;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
  color: var(--primary);
  /* Firefox */
  opacity: 1; 
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
  color: var(--primary);
}

/* Microsoft Edge */
::-ms-input-placeholder { 
  color: var(--primary);
}

/*active*/
.input:focus {
    outline: none !important;
    border:1px solid blue;
    box-shadow: 0 0 10px blue;
}

a {
    text-decoration: none;
    color: var(--secundary);
}

input[type="submit"], button {
    width: fit-content;
    background-color:  var(--primary);
    color:  var(--secundary);
    border: none;
    padding: 5px 15px;
    font-weight: 900;
}


input[type="color"] {
    -webkit-appearance: none;
    border: none;
    padding: 0px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

/*navigation*/
nav {
    border-top: 2px solid var(--primary);
    width: 100%;
    height: 15vh;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


svg {
    fill: var(--primary);
    width: 30px;
    height: 30px;
    align-self: center;
}

#pen-icon,#folder-icon,#home-back-icon{
    display: none;
}

/*home page*/
#show-goal{
          position: relative;
          overflow: scroll;
}

#log {
    width: 100%;
    text-align: left;
        display: flex;
    flex-direction: column;
    gap: 20px;
}

#log input {
    background-color: unset;
    border: none;
    color:  var(--primary);
}

#log section {
    display: flex;
    flex-direction: column;
}

#preview-goal{
	    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#add-goal{
	    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#add-goal input {
    margin-bottom: 40px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
    color: var(--primary);
    background-color: transparent;
}

input#save {
    width: fit-content;
        padding: 10px 20px;
    align-self: center;
}

label {
    margin-bottom: 20px;
}

/*single page*/

#addsub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#addsub p {
    padding: 0px 20px;
}

#addpoint, #subpoint {
    background-color: var(--primary);
    color: var(--secundary);
    border-radius: 50%;
    height: 3em;
    width: 3em;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/*Settings page*/
#settingsIcon{
    position: fixed;
    right: 75%;
    bottom: 6.3%;
    height: 2em;
    width: 2em;
    opacity: 0;
}

#settingsIcon:before {
    content: url(images/cog.svg);
    width: 30px;
    height: 30px;
    padding-top: 3px;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#show-goal button {
    display: none;
}

#show-goal .red button {
    display: block;
}


#settings form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



